/******** VARIABLES *********/
:root {
    --very-light-gray: hsl(0, 0%, 95%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}

/********* GENERALES *********/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
}


/******** Main title ********/
.main-title {
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    font-size: 35px;
    margin: 3rem;
}

/******* SEARCH BAR ******/
.content-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Title cocktail: no se encontraron coincidencias ******/
.title-cocktail {
    text-align: center;
    margin-top: 2rem;
}

.form {
    display: flex;
    align-items: center;
    background-color: #FFF;
    width: 500px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
}

.form i {
    font-size: 20px;
    margin-left: .5rem;
}

.form input{
    flex: 1;
    height: 35px;
    border: none;
    font-size: 16px;
    outline: none;
    padding-left: .7rem;
}

/****** Cocktails section ******/

.section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.a-cocktails {
    flex-grow: 1;
    margin: 20px;
    max-width: 330px;
    text-decoration: none;
}

.cocktails {
    width: 330px;
    height: 370px;
    border-radius: 8px;
    box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 1.4rem;
    text-align: center;
    transition: all 0.25s;
}

.a-cocktails .cocktails:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
} 

.a-cocktails .cocktails img {
    width: 330px;
    height: 220px;
    object-fit: cover;
    display: block;
}

.a-cocktails .cocktails h3 {
    font-weight: 600;
    font-size: 23px;
    color: var(--very-dark-cyan)
}

.a-cocktails .cocktails span {
    color: #000;
}

.a-cocktails .cocktails p {
    color: var(--dark-cyan);
}

/******** Loaging Spinner ******/
.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09F;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide-spinner {
    display: none;
}
/******* ******/

@media screen and (min-width: 992px) {
    .section-body {
        width: 95vw;
    }
} 