/******** VARIABLES *********/
:root {
    --very-light-gray: hsl(0, 0%, 95%);
}

/********* GENERALES *********/
body {
    background-color: var(--very-light-gray);
    overflow-x: hidden;
}
/****** Cocktails section ******/

.section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.a-cocktails {
    flex-grow: 1;
    margin: 20px;
    max-width: 300px;
    border: 1px solid #333;
}

img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
}
/******** Loaging Spinner ******/
.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09F;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide-spinner {
    display: none;
}
/******* ******/

@media screen and (min-width: 992px) {
    .section-body {
        width: 95vw;
    }
} 